<header class="header-kitchen">
    <div>
        <img class="logo" src="../../assets/img/logoheader.png" alt="logo luna burger">
    </div>
    <section>
        <div>
            <img class="home" [routerLink]="['/']" src="../../assets/img/home.png" alt="home">
            <h1 class="text-header">Home</h1>
        </div>
        <div>
            <img class="orders" [routerLink]="['/orders']" src="../../assets/img/pedidos.png" alt="home">
            <h1 class="text-header"> Pedidos</h1>
        </div>
        <div>
            <img class="back" [routerLink]="['/tables']" src="../../assets/img/regreso.png" alt="home">
            <h1 class="text-header"> Volver</h1>
        </div>
        <div>
            <button (click)="logout()">Salir</button>
        </div>
    </section>
</header>
<div>
    <a href="#" *ngIf="userLogged | async as user">{{user.email}}</a>
</div>