@import url('https://fonts.googleapis.com/css2?family=Festive&family=Redressed&display=swap');

$color-header: rgba(197, 156, 54, 1);
$color-text: #ffffff;

.header-kitchen{
    background-color: $color-header;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 140px;
    width: 280px;
    padding: 0 0 0 20px;
    margin-bottom: -30px;
}
section{
    display: flex;
    align-items: center;
}
.home, .orders, .back{
    height: 60px;
    width: 50px;
    padding: 0 0 4px 0;
    cursor: pointer;
}
.text-header{
    color: $color-text;
    font-family: 'festive', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    padding: 0 35px 0 0;
} 
/* .text-home{
    text-decoration: none;
    cursor: pointer;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 25px;
    padding: 10px 20px 0 0;
} */