<header class="header-kitchen">
    <div>
        <img class="logo" src="../../assets/img/logoheader.png" alt="logo luna burger">
    </div>
    <section>
        <div>
            <img class="home" [routerLink]="['/tables']" src="../../assets/img/home.png" alt="home">
        </div>
        <div>
            <img class="orders" [routerLink]="['/orders']" src="../../assets/img/pedidos.png" alt="home">
        </div>
        <div>
            <img class="back" (click)="logout()">
        </div>
        <div>
            <p class="text-userLogged">Usuario: {{usuarioLogueado}}</p>
        </div>
    </section>
</header>
