@import url('https://fonts.googleapis.com/css2?family=Festive&family=Redressed&display=swap');

$color-header: rgba(247, 173, 80, 1);
$color-text: #ffffff;

.date-user,
.text-userLogged {
    color: #ffffff;
    font-size: 20px;
    font-style: oblique;
    /* margin-top: 0.9%; */
    padding: 11px 0 0 1px;
}

.iconWaiter {
    width: 10%;
}

.userLogged {
    display: flex;
    justify-content: flex-end;
}

.header {
    background-color: $color-header;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 280px;
    padding: 0 0 0 20px;
    margin-bottom: -5%;
}

.date-user {
    display: flex;
    margin-left: -13%;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.home,
.orders,
.back,
.menu {
    height: 55px;
    width: 45px;
    padding: 0 0 4px 0;
    cursor: pointer;
    margin: 0px 25px;
}

.text-header {
    color: $color-text;
    font-family: 'festive', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 25px;
    padding: 0 35px 0 0;
}