@import url("https://fonts.googleapis.com/css2?family=Festive&family=Redressed&display=swap");
$color-body: #40403F;


.main-kitchen {
  padding: 20px;
  height: 100%;
  background: $color-body;
}

.containerAllOrders {
  display: flex;
  padding: 20px;
  flex-direction: row-reverse;
  border: 4px solid #505b65;
  border-radius: 10px;
}

.imgOrder {
  width: 20rem;
  height: 100vh
}


.containerOrders {
  display: flex;
  padding: 0 5px 0 0;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.waiter {
  width: 40px;
}

.container-orders-received {
  border: 5px solid rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  border-radius: 10px;
  width: 45%;
  height: 45%;
  margin: 0px 10px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.containerImg {
  height: 100vh;
}

.title-kitchen {
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}

.status {
  font-weight: 500;
  font-size: 17px;
  color: red;
}

.orderContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  flex-direction: row;
}

.nameClient {
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}

.containerNumTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
}

.titleTable {
  padding: 5px 0 0 7px;
  color: #000000;
  font-weight: 500;
  font-size: 17px;
}

.numTable {
  height: 65%;
  width: 65%;
  background-color: #EFB22C;
  color: #000000;
  font-size: 29px;
  font-family: Redressed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: space-around;
}

.titleProducts,
.titleCant {
  font-size: 17px;
  font-weight: 700;
  text-decoration: underline;
}

.titleProducts {
  padding: 0 0 0 40px;
}

.listProducts,
.listCant {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
}

.listProducts {
  padding: 0 0 0 10px;
}

.listCant {
  padding: 0 35px 0 0;
}

.containerButton {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btnPendient {
  border-radius: 50%;
  width: 15%;
  border: none;
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
  cursor: pointer;
  background-color: #72de50;
}