<main class="main-kitchen">
    <header class="header-kitchen">
        <div>
            <img class="logo" src="../../assets/img/logoheader.png" alt="logo luna burger">
        </div>
        <div class="text-home" [routerLink]="['/']"> Home
            <img class="home" src="../../assets/img/home.png" alt="home">
        </div>
    </header>
    <div class="container-orders-received">
        <h1 class="title-kitchen">Pedidos Recibidos</h1>

        <div class="orderContainer" *ngFor="let orders of order">
            <ul>
                <li>Num de mesa: {{orders.mesa}}</li>
                <div *ngFor="let clientOrder of orders.detalle">
                    <ul>
                        <div>
                            <li>Nombre del producto: </li>
                            <li>Cantidad:</li>
                            <li>tipo:</li>
                        </div>
                    </ul>

                </div>
                <li>Mesero:</li>
            </ul>
        </div>
    </div>
</main>