<app-header-chef></app-header-chef>
<main class="main-kitchen">
  <h1 class="title-kitchen">Pedidos Recibidos</h1>
  <section class="containerAllOrders">
    <div class="containerImg">
      <img class="imgOrder" src="../../assets/img/hamb-pedidos-preparados.png" alt="">
    </div>
    <div class="containerOrders">
      <div class="container-orders-received" *ngFor="let orders of itemsId">
        <div class="headerOrder">
          <div>
            <span class="nameClient">👤 {{orders.cliente}}</span><br>
            <span class="nameClient">◷ {{orders.fecha | date: 'shortTime'}}</span><br>
            <!-- <span class="status">Estatus: {{orders.status}}</span> -->
          </div>
          <div class="containerNumTable">
            <span class="numTable">{{orders.mesa}}</span>
          </div>
        </div>
        <span class="description">
          <h5 class="titleProducts">ORDEN</h5>
          <h5 class="titleCant">CANT.</h5>
        </span>
        <div class="orderContainer" *ngFor="let clientOrder of orders.detalle ">
          <li class="listProducts">{{clientOrder.nombre}}</li>
          <li class="listCant">{{clientOrder.cantidad}}</li>
        </div>

        <div class="containerButton">
          <span><img class="waiter" src="../../assets/img/mesero.png" alt=""> {{orders.mesero}}</span><br>
          <button class="btnPendient" data-id={{orders.id}} data-value={{orders.status}} (click)="btnPendient($event)">
            ✓
          </button>
        </div>
      </div>
    </div>
  </section>
</main>