<app-header></app-header>

<body>
  <main class="flex-container">
    <section class="menuOptions-content">

      <div class="commensalDates">

        <div class="commensalNameDiv">
          <label for="commensal" class="commensalNameLabel">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </label>
          <input type="text" class="commensalNameInput" (keyup)="changeCommensalName($event)"
            placeholder="Nombre cliente" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <label for="commensal" class="commensalTableLabel">Mesa N°: {{numberTable}}</label>

      </div>

      <div>
        <button type="button" class="btn btn-primary" disabled data-bs-toggle="button"
          autocomplete="off">Desayuno</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off">Almuerzo</button>
      </div>
      <div>
        <ul class="list-group">
          <li class="list-group-item"> Hamburguesa simple $10
          </li>
          <li class="list-group-item">Hamburguesa doble $15
          </li>
          <li class="list-group-item">Papas fritas $5
          </li>
          <li class="list-group-item">Aros de cebolla $5
          </li>
          <li class="list-group-item">Agua 500l $5
          </li>
          <li class="list-group-item">Agua 750ml $7
          </li>
        </ul>
      </div>
    </section>

    <aside class="selectedOptionsMenu">

      <div class="recordedData">
        <div class="recordedDataCommensal">
          <p>Pedido de:</p>
          <p>{{commensal.name}}</p>
        </div>

        <div class="recordedDataTable">
          <p>Mesa N°:</p>
          <p>{{numberTable}}</p>
        </div>
      </div>

      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </li>
          <li class="list-group-item">
            <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          </li>
        </ul>
        <p class="totalAmount">TOTAL:</p>
      </div>

      <div class="container-btn-enviarPedido">
        <button class="btn-enviarPedido">Enviar Pedido</button>
      </div>
    </aside>
  </main>
  <fa-icon [icon]="faCoffee"></fa-icon>

  <div class="menuList" *ngFor="let menu of menuLuna">
    <tr>
      <td scope="row">{{menu.nombre + "............." + menu.precio }}</td>
    </tr>
  </div>



</body>