<app-header> </app-header>

<main class="flex-container">
  <article class="menuOptions-content">
    <div class="commensalDates">
      <div class="commensalNameDiv">
        <label for="commensal" class="commensalNameLabel">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </label>
        <input type="text" class="form-control" placeholder="Nombre cliente" [value]="nameCommensal"
          (keyup)="saveNameClient($event)">

      </div>
      <label for="commensal" class="commensalTableLabel">Mesa N°: {{numberTable}}</label>
    </div>
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off"
        (click)="changeTypeMenu('desayuno')">Desayuno</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off"
        (click)="changeTypeMenu('menu')">Almuerzo</button>
    </div>
    <section id="menuContainer">
        <app-template-products id="template-content" *ngFor="let product of itemsMenuFilter" [product]="product"></app-template-products>
    </section>
  </article>
  <aside class="selectedOptionsMenu">
    <p class="text-center fs-3 mb-0 btnMenu">Pedido</p>
    <div class="recordedData">
      <div class="recordedDataCommensal">
        <p>Cliente: {{nameCommensal}}</p>
      </div>
      <div class="recordedDataTable">
        <p>Mesa N°: {{numberTable}}</p>
      </div>
    </div>
    <section id="chosenOrder">
      <ul class="list-group tableOrder mt-2">
        <app-waiter-counter *ngFor="let item of itemsCart" [itemCart]="item"> </app-waiter-counter>
      </ul>
    </section>
    <p class="text-end fs-3 mb-0 " id="total">Total: {{getTotal() | currency}}</p>
    <div class="container-btn-enviarPedido">
      <button type="button" class="btn-enviarPedido" [routerLink]="['/', 'cocina']" (click)="makeOrder()">ENVIAR
        PEDIDO</button>
    </div>
  </aside>
</main>
