<p>Registrar un usuario</p>
<div class="displayTable">
    <div class="formGroup">
        <input type="text" class="input-email" id="inputName" placeholder="Nombre" [(ngModel)]="usuario.name">
    </div>
    <div class="formGroup">
        <input type="text" class="input-email" id="inputRol" placeholder="Rol" [(ngModel)]="usuario.rol">
    </div>
    <div class="formGroup">
        <input type="text" class="input-email" id="inputEmail" placeholder="email" [(ngModel)]="usuario.email">
    </div>
    <div class="formGroup">
        <input type="password" class="input-password" id="inputPassword" placeholder="contraseña"
            [(ngModel)]="usuario.password">
    </div>
    <div class="formGroup">
        <button class="logIn-button" type='submit'>Registrar</button>
    </div>