// variable
$color-mix-btn: linear-gradient(180deg, #F7AD50 0%, #7B4500 100%);
$color-body: #40403F;
$color-words: #fff;

body{
  margin: 0;
  background: $color-body;
}

//fondo
.flex-main{
  padding: 20px;
  //height: 100%;
}


//contenedor principal con borde
.containerAllOrders {
  display: flex;
  flex-direction: row-reverse;
  border: 4px solid #5c5b5b;
  border-radius: 10px;
  height: 83vh;
}

//contenedor de tables
.containerOrders {
  display: flex;
  padding: 0 5px 0 0;
  flex-wrap: wrap;
  overflow-y: scroll;
}

//imagen principal
.imgOrder {
  width: 100%;
  height: 100%;
}

.home{
height: 40px;
width: 50px;
padding: 0 0 20px 0;
}
#main-tables {
  @media (min-width: 740px) {
    display: flex;
    height: 658px;
  }
}

#main-tables {
  @media (min-width: 740px) {
    display: flex;
    height: 658px;
  }
}

.container {
  width: 1200px;
  margin: auto;
  padding: 100px 0;
  display: flex;
}

.btn-table-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 5%;
}

.btn-table{
  /* position: absolute; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-words;
  font-size: 30px;
  cursor: pointer;
  width: 100%;
  height: 90px;
  background: $color-mix-btn;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btnTable{
  background-color: #26221D;
}
.imgTable{
  height: 15vh;
}
.btnTitle{
  color: var(--color-white);
  font-family: var(--font-main);
  background-color: #1CA10D;
  font-weight: 500;
  font-size: 24px;
}
.btnRed{
  background-color: var(--color-red);
}

