<app-header></app-header>

<body>
  <div class="container">
    <div class="btn-table-container">
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 01</button>
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 02</button>
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 03</button>
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 04</button>
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 05</button>
      <button class="btn-table" [routerLink]="['/', 'menu']">Mesa 06</button>
    </div>
  </div>
</body>