<section *ngIf="itemCart" class="container-order">
      <img class="img-item-selected" [src]="itemCart.img" alt="">
    <div class="order-details">
      <p> {{itemCart.nombre}} </p><br>
      <p>{{itemCart.total | currency }}</p>
    </div>

  <div class="container-order-options">
      <button type="button" (click)="minus()" class="w-10 itemsIcons"> - </button>
      <input class="counterProduct" [value]="itemCart.cantidad"/>
      <button type="button" (click)="plus()" class="w-10 itemsIcons"> + </button>
      <button class="itemsIcons w-10" (click)="deleteItem(itemCart)">x</button>
    </div>
    <div class="col-sm">
    </div>
  </section>
