.counterProduct {
  border: 1px inset;
  width: 20%;
  text-align: center;
}

// .itemsIcons {
//   background-color: transparent;
//   border: 1px solid transparent;
// }


.totalProduct {
  margin: 0 0 0 4%;
}

.rotate {
  transform: rotate(-45deg);
}

.eliminar {
  background-color: transparent;
  border: 1px solid transparent;
}

.menos,
.mas {
  border: 2px solid #fcfafa;
  border-radius: 50%;
  color: #f8f9fa;
  font-weight: 900;
}

.menos {
  background-color: #dc3545;
}

.mas {
  background-color: #35dc46;
}

.container-order {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  margin: auto auto 1.5% auto;
  padding: 2%;
  height: 12vh;
}

.order-details {
  display: flex;
  width: 50%;
  margin-left: 4%;
  font-size: small;
}

.img-item-selected {
  width: 12%;
  height: 110%;
}

.container-order-options {
  display: flex;
  width: 35%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
}

/*
.item-counter{
  width: 25px;
  text-align: center;
  font-size: 50px;
}*/

p {
  margin: 0px;
}