$color-mix-btn: linear-gradient(180deg, rgba(255, 197, 70, 0.9) 0%, rgba(245, 130, 50, 0.9) 100%);
$color-header: rgba(197, 156, 54, 1);
$color-body: linear-gradient(180.3deg, #0E4975 50.98%, rgba(0, 11, 19, 0.97) 116.78%), linear-gradient(180.3deg, #0E4975 50.98%, rgba(0, 11, 19, 0.97) 116.78%);
$color-words: #fff;

/* ----------------------------------Tablet - Pantallas hasta 1024px ---------------------------------- */
.flex-container{
  @media (min-width: 740px) {
    display: flex;
    height: 658px;
  }
}

article, aside{
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0px 20px 20px 20px;
  border-radius: 12px;
  border: 6px solid #112e50;
  color: #fff;
}

article {
  margin-right: 0.5%;
  margin-left: 1%;
}

aside {
  margin-right: 1%;
  margin-left: 0.5%;
}

h5 {
  text-align: center;
}

#toServeContainer {
  width:100%;
  height:95%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px 0 10px;
}

#eachOrderToServe {
  background: #fff;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  margin: 1.5%;
  overflow-y: scroll;
}

.btn-toServe {
  border: none;
  cursor: pointer;
  height: 4vh;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-words;
  font-size: 15px;
  width: 5vw;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-toServe-listo {
  background-color: #0DDC53;
}

#btn-toServe-cerrar {
  background-color: #EFB22CCF;
}


/* ---------------------------------- Media Query para pantallas a partir de 1300px ---------------------------------- */
@media (min-width: 1300px) {

  #eachOrderToServe {
    background: #fff;
    width: 40%;
    height: 200px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    margin: 3%;
    justify-content: center;
  }

}
