<div class="displayTable">
    <div class="formGroup">
        <input type="text" class="input-email" id="inputEmail" placeholder="email" [(ngModel)]="usuario.email">
    </div>
    <div class="formGroup">
        <input type="password" class="input-password" id="inputPassword" placeholder="contraseña"
            [(ngModel)]="usuario.password">
    </div>
    <div class="formGroup">
        <button class="logIn-button" [routerLink]="['/tables']" type='submit' (click)="ingresar()">Ingresar</button>
    </div>

    <!-- <form class="logIn-form" [formGroup]="logInForm" (ngSubmit)="login()">
        <h3>Inicio de Sesion</h3>
        <div class="formGroup">
            <input type="text" class="input-email" id="inputEmail" formControlName="email" placeholder="  e-mail">
        </div>
        <div class="formGroup">
            <input type="password" class="input-password" id="inputPassword" formControlName="password"
                placeholder="  contraseña">
        </div>
        <div class="formGroup">
            <button class="logIn-button" type='submit'>Ingresar</button>
        </div>
    </form> -->
</div>

<!--
        <form class="authBlock" [formGroup]="logInForm">
            <h3>Inicio de Sesion</h3>
            <div class="formGroup">
                <input formControlName="email" type="email" placeholder="Email">
            </div>
            <div class="formGroup">
                <input formControlName="password" type="password" placeholder="Contraseña">
            </div>
            <div class="formGroup">
                <input type="button" value="Ingresar" (click)="login()">
            </div>

            <div class="redirectToLogin">
                <span>No tienes cuenta?<span>Contacta al administrador</span></span>
            </div>
        </form>
</div> -->