<div class="displayTable">
    <h2>Selecciona tu rol:</h2>
    <div class="input-rol">
        <span><input class="rolMesero" type="radio" name="rol" value="mesero" (click)="activeBtn()" />Mesero</span>
        <span><input class="rolChef" type="radio" name="rol" value="cocinero" (click)="activeBtn()" />Chef</span>
    </div>
    <h2>Inicia sesión:</h2>
    <div class="formGroup">
        <input type="text" class="input-sigIn" id="inputName" placeholder="Nombre" [(ngModel)]="usuario.name">
    </div>
    <div class="formGroup">
        <input type="email" class="input-sigIn" id="inputEmail" autocomplete placeholder="Correo electrónico"
            [(ngModel)]="usuario.email">
    </div>
    <div class="formGroup">
        <input type="password" class="input-sigIn" id="inputPassword" placeholder="contraseña"
            [(ngModel)]="usuario.password">
    </div>
    <div class="formGroup">
        <button class="logIn-button" type='submit' [disabled]="disabled" (click)="ingresar()">Ingresar</button>
    </div>
</div>