/* You can add global styles to this file, and also import other style files */

$color-body: rgba(64, 64, 63, 1);
$main-items-charts-tablet: 658px;


body {
  background: $color-body;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

