@import url('https://fonts.googleapis.com/css2?family=Festive&family=Redressed&display=swap');
$color-mix-btn: rgba(247, 173, 80, 1);
$color-words: #fff;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /*para mover el modelo de caja*/
}

.home {
    background-image: url(../../assets/img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.welcome {
    position: absolute;
    width: 479px;
    height: 100px;
    left: 39px;
    top: -8px;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 136px;
    color: #FFFFFF;
}

.section-btnHome {
    display: flex;
    flex-direction: column-reverse;
    margin: -4rem 0rem 0 6rem;
    align-items: center;
}

.container-home {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-left: 125px;
}

.img-home {
    width: 24rem;
    margin-top: 1rem;
    height: 35rem;
}

.img-logo {
    width: 300px;
    height: 150px;
    margin-bottom: 40px;
}

/* ---------------------------------- Media Query para pantallas a partir de 1300px ---------------------------------- */
@media (min-width: 1200px) {

    .img-logo {
        margin-top: 80px
    }

    // .container-home {
    //     margin-left: 400px;
    // }
}