<body>
  <main class="home">
    <h1 class="welcome">Bienvenido(a)!</h1>
    <div class="container-home">
        <section class="section-imgHome">
            <img class="img-home" src="../../assets/img/Imagen2.png" alt="imagen Hamburguesa">
        </section>
        <section class="section-btnHome">
            <button class="btn-waiter">
                <a class="btn-text" href="/tables">Mesero</a>
            </button>
            <button class="btn-chef">
                <a class="btn-text" href="/kitchen">Chef</a>
            </button>
            <div>
                <img class="img-logo" src="../../assets/img/logo.png" alt="logo luna burguer">
            </div>
        </section>
    </div>
</main>
</body>

